{
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "bottomRight",
            "offset" : [0, 0],
            "positionLocked" : true
        },
        "background" : {
            "type" : "background",
            "fileHeader" : "/d8_ASN/interfaces/scripted/abilityDecker/text/header.png",
            "fileBody" : "/d8_ASN/interfaces/scripted/abilityDecker/text/bg.png",
            "mouseTransparent" : true,
            "zlevel" : -100
        },

        "abilityBackImg" : {
            "type" : "image",
            "file" : "/d8_ASN/interfaces/scripted/abilitySelector/texture/tablet/back.png",
            "mouseTransparent" : true,
            "position" : [158, 138],
            "zlevel" : 1,
            "scale" : 2
        },
        "abilities"  : {
            "type": "scrollArea",
            "zlevel" : -11,
            "wrapWidth" : 130,
            "position" : [0, 0],
            "rect" : [
                5,
                5,
                83,
                266
            ], 
            "children": {
                "list" : {
                    "columns": 1,
                    "type" : "list",
                    "callback" : "selected",
                    "schema" : {
                        "selectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=fff5?scalenearest=66",
                        "unselectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=0005?scalenearest=66",
                        "spacing" : [1, 1],
                        "memberSize" : [66, 66],
                        "listTemplate" : {}
                    }
                }
            }
        }
    },
    "abilities" : ["crush", "gauntlet_warpJab", "inter-planet warp"],
    "racialAbilities" : {
        "human" : ["crush"]
    },

    "scripts" : ["/d8_ASN/interfaces/scripted/abilityDecker/main.lua"],
    "scriptDelta" : 1,
    "scriptWidgetCallbacks" : [
        "close"
    ]
}
