{
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "bottomRight",
            "offset" : [0, 0],
            "positionLocked" : true
        },
        "background" : {
            "type" : "background",
            "fileHeader" : "/d8_ASN/interfaces/scripted/abilityDecker/text/header.png",
            "fileBody" : "/d8_ASN/interfaces/scripted/abilityDecker/text/bg.png",
            "mouseTransparent" : true,
            "zlevel" : -100
        },
        
        "btn_add" : {
            "type" : "button",
            "base" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_idle.png",
            "hover" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_hover.png",
            "pressed" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_press.png",
            "position" : [89, 242],
            "caption" : "Add"
        },
        "btn_remove" : {
            "type" : "button",
            "base" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_idle.png",
            "hover" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_hover.png",
            "pressed" : "/d8_ASN/interfaces/scripted/abilityDecker/text/btn_press.png",
            "position" : [89, 242],
            "caption" : "Remove",
            
            "visible" : false
        },

        "ability_artworkBg" : {
            "type" : "image",
            "file" : "/d8_ASN/interfaces/scripted/abilitySelector/texture/tablet/back.png",
            "mouseTransparent" : true,
            "position" : [158, 138],
            "zlevel" : 1,
            "scale" : 2
        },
        "ability_artwork" : {
            "type" : "image",
            "file" : "/d8_ASN/interfaces/scripted/abilitySelector/texture/tablet/back.png",
            "mouseTransparent" : true,
            "position" : [158, 138],
            "zlevel" : 1,
            "scale" : 2
        },
        "ability_shortdescription" : {
            "type" : "label",
            "mouseTransparent" : true,
            "position" : [297, 262],
            "zlevel" : 1,

            "wrapWidth" : 180,
            "value" : "Replace Me",
            "vAnchor" : "top"
        },
        "ability_description" : {
            "type" : "label",
            "mouseTransparent" : true,
            "position" : [297, 247],
            "zlevel" : 1,

            "wrapWidth" : 180,
            "value" : "Replace Me",
            "vAnchor" : "top"
        },
        
        "abilities"  : {
            "type": "scrollArea",
            "zlevel" : -11,
            "wrapWidth" : 130,
            "position" : [0, 0],
            "rect" : [
                5,
                5,
                83,
                266
            ], 
            "children": {
                "list" : {
                    "columns": 1,
                    "type" : "list",
                    "callback" : "selected",
                    "schema" : {
                        "selectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=fff5?scalenearest=66",
                        "unselectedBG" : "/assetmissing.png?crop=0;0;1;1?replace;fff0=0005?scalenearest=66",
                        "spacing" : [1, 1],
                        "memberSize" : [66, 66],
                        "listTemplate" : {}
                    }
                }
            }
        }
    },
    "abilities" : ["crush", "gauntlet_warpJab", "inter-planet warp"],
    "racialAbilities" : {
        "human" : ["crush"]
    },

    "scripts" : ["/d8_ASN/interfaces/scripted/abilityDecker/main.lua"],
    "scriptDelta" : 1,
    "scriptWidgetCallbacks" : [
        "selected",
        "close",

        "btn_add",
        "btn_remove"
    ]
}
