{
    "funcAllowedlist" : {
        "interface.setHudVisible" : false,
        "interface.bindRegisteredPane" : false,
        "interface.displayRegisteredPane" : false,
        "interface.bindCanvas" : false,
        "interface.scale" : false,
        
        "script.setUpdateDelta": false,
        "script.updateDt" : false,

        "world.getGlobal" : false,
        "world.setGlobal" : false,
        "world.setExpiryTime" : false,
        "world.id" : false,
        "world.callScriptContext" : false,
        "world.sendPacket" : false,

        "loadstring" : false
    },
    "funcAllowedTable" : {
        "root" : false,
        "player" : false
    },
    "bridgeFunc" : {
       "config.getParameter" : "behaviorEx.getParameter",
       "config.setParameter" : "behaviorEx.setParameter",

       "status.resource" : "behaviorEx.hasResources",
       "status.resourcePositive" : "behaviorEx.hasResources",
       "status.giveResource" : "behaviorEx.modResources",

       "player.interact" : "playerInteractBridge"
    }
}