{
    "funcAllowedlist" : {
        "interface.setHudVisible" : false,
        "interface.bindRegisteredPane" : false,
        "interface.displayRegisteredPane" : false,
        "interface.bindCanvas" : false,
        "interface.scale" : false,
        
        "script.setUpdateDelta": false,
        "script.updateDt" : false,

        "world.getGlobal" : false,
        "world.setGlobal" : false,
        "world.setExpiryTime" : false,
        "world.id" : false,
        "world.callScriptContext" : false,
        "world.sendPacket" : false,

        "loadstring" : false,

		"Weapon.init" : false,
		"Weapon.uninit" : false,
		"init" : false,
		"uninit" : false,
		"update" : false,
        "findCallback" : false
    },
    "funcAllowedTable" : {
        "root" : false,
        "player" : false
    },

    "override" : {
       "player.interact" : "playerInteractBridge",
       "world.callScriptedEntity" : "worldCallScriptedEntity",
       "world.entityExists" : "worldentityExists"
    }
}